extends ../layout

block content
    h1 Edureka Online Courses
    .row
        .col-sm-8
        .col-sm-4
            a(href="/courses/add", class="btn btn-success float-right") Create New
    table.table
        thead
            tr
                th Course ID
                th Course Name
                th Course Fee
                th Course Duration 
                th Actions
        tbody
            each course in courses
                tr
                    td=course.Id
                    td=course.name
                    td=course.duration
                    td=course.fee
                    td
                        a(href="/courses/delete/"+course._id, class="btn btn-danger") Delete
                        a(href="/courses/edit/"+course._id, class="btn btn-warning") Edit